/* LM Roman 10 */
@font-face {
  font-family: 'LM Roman 10';
  font-style: normal;
  font-weight: normal;
  src: url('./latex_fonts/lmroman10-regular.otf');
}

@font-face {
  font-family: 'LM Roman 10';
  font-style: italic;
  font-weight: normal;
  src: url('./latex_fonts/lmroman10-italic.otf');
}

@font-face {
  font-family: 'LM Roman 10';
  font-style: normal;
  font-weight: bold;
  src: url('./latex_fonts/lmroman10-bold.otf');
}

@font-face {
  font-family: 'LM Roman 10';
  font-style: italic;
  font-weight: bold;
  src: url('./latex_fonts/lmroman10-bolditalic.otf');
}

/* LM Mono 10 */
@font-face {
  font-family: 'LM Mono 10';
  font-style: normal;
  font-weight: normal;
  src: url('./latex_fonts/lmmono10-regular.otf');
}

@font-face {
  font-family: 'LM Mono 10';
  font-style: italic ;
  font-weight: normal;
  src: url('./latex_fonts/lmmono10-italic.otf');
}

/* 思源宋体 */ 
@font-face {
  font-family: 'Source Han Serif SC';
  font-style: normal;
  font-weight: normal;
  src: url('./latex_fonts/SourceHanSerifSC-Regular.otf');
}

@font-face {
  font-family: 'Source Han Serif SC';
  font-style: normal;
  font-weight: bold;
  src: url('./latex_fonts/SourceHanSerifSC-Bold.otf');
}

@font-face {
  font-family: 'SimSum-ExtB';
  src: url("./latex_fonts/simsun.ttc");
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
li {
  font-family: 'LM Roman 10', 'Times New Roman', 'Arial', 'Source Han Serif SC', 'SimSum-ExtB';
}

code {
  font-family: 'LM Mono 10', 'LM Roman 10', 'Times New Roman', 'Arial', 'Source Han Serif SC', 'SimSum-ExtB';
}

strong {
  font-weight: bolder;
}

.katex {
  font-size: 1.1em;
}

.centertable {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

mark {
  background-color: #f8aba6;
}

/* flexible-alert */
.alert.flat.note {
  background-color: #b0d9df !important;
  border-color: #b0d9df !important;
}

.alert.flat.tip {
  background-color: #cbddc8 !important;
  border-color: #cbddc8 !important;
}

.alert.flat.warning {
  background-color: #ffbdaa !important;
  border-color: #ffbdaa !important;
}

.alert.flat.attention {
  background-color: #ffbdaa !important;
  border-color: #ffbdaa !important;
}